<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Role_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{114,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{114,66}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>UI_Role_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>blood_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,98},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
            <key>blood_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
            <key>magic_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,74},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
            <key>magic_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Battle01.png</string>
            <key>size</key>
            <string>{364,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68a5b92a7c4a14bc321d4decc3406215$</string>
            <key>textureFileName</key>
            <string>UI_Battle01.png</string>
        </dict>
    </dict>
</plist>
