<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
            <key>blood_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
            <key>magic_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
            <key>magic_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,22}}</string>
                <key>sourceSize</key>
                <string>{179,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Battle01.png</string>
            <key>size</key>
            <string>{726,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ff22514b2dc303a3b8fdc73e995e9c9$</string>
            <key>textureFileName</key>
            <string>UI_Battle01.png</string>
        </dict>
    </dict>
</plist>
