<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_attack_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{82,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{64,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1348},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{60,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{60,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{140,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{94,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,586},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,70},{94,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1348},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{52,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,992},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,70},{74,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1114},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{70,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,868},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,72},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{102,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,48},{102,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{130,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{130,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,514},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,52},{70,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,67},{68,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1048},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{72,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{84,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,69},{84,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,804},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{78,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,726},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,64},{76,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{132,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{132,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,648},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{88,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_attack_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,706},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{86,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1238},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,67},{48,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1236},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,67},{48,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,468},{44,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,48},{44,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,67},{60,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1174},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{66,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1120},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{68,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{116,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,47},{116,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,178},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,51},{118,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,278},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,66},{120,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,66},{120,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,79},{110,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_change_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{88,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,74},{88,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_dead_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{90,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1286},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{62,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,468},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{90,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,870},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{82,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,870},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{82,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,658},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,67},{68,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,67},{70,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1054},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{70,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,73},{84,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,756},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{82,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{82,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,992},{82,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{82,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{82,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{82,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,934},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{82,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,814},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,73},{84,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,560},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,76},{96,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1288},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,72},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1348},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{60,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,406},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,70},{110,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{118,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,69},{118,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,348},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,72},{112,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,120},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,72},{112,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,926},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,68},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boy_run_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1186},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,67},{48,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Roles_Solider.png</string>
            <key>size</key>
            <string>{254,1412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cba95db101c342b43071b6eb35e7e42c$</string>
            <key>textureFileName</key>
            <string>Roles_Solider.png</string>
        </dict>
    </dict>
</plist>
